@import "variables.scss";

#post-content {
  position: relative;
}

#blog .blog__content.container {
  position: relative;
  z-index: 2;

  @extend %flex-row;
  align-items: flex-start;
  justify-content: space-between;

  @include respond-to(large-device) {
    align-items: flex-start;
    justify-content: center;
  }
}

.post__tags {
  @extend %flex-row;
  align-items: flex-end;
  justify-content: center;

  .tag__detail {
    @include customFont($lightGrayColor, 14px, $regularWeight, none);
    @include customTransition($duration: 0.2s);
    background-color: #f6f7f8;
    width: 130px;
    height: 40px;
    border: 1px solid #e6e6e6;
    margin-left: 10px;

    &:hover {
      background-color: $whiteColor;
      @include customBoxShadow(
        $blurRadius: 5px,
        $shadowColor: $shadowColorOverlay
      );
    }
  }
}

.left-container {
  flex-basis: 800px;
  padding-top: 100px;
  padding-right: 100px;
  background-color: transparent;

  .content__post-preview {
    padding: 60px 0;
    border-bottom: 1px solid $postPreviewBorderColor;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }

    @include respond-to(small-device) {
      padding: 40px 0;
    }
  }

  .post-preview__top {
    width: 100%;
    @extend %flex-row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .post__author {
      @extend %flex-row;
      align-items: flex-start;
      justify-content: center;
      .author__avatar {
        background-color: $lightGrayColor;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
      }

      .author__info {
        @extend %flex-col;
        align-items: flex-start;
        justify-content: center;
        height: 50px;
        line-height: 1.5;
        .author__info--name {
          @include customFont(
            $darkGrayColor,
            16px,
            $semiBoldWeight,
            capitalize
          );
        }

        .author__info--post-at {
          @include customFont($lightGrayColor, 14px, $regularWeight, none);
        }
      }
    }

    @include respond-to(small-device) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 25px;

      .post__author {
        margin-bottom: 15px;
      }

      .tag__detail:first-child {
        margin-left: 0;
      }
    }
  }

  .post-preview__middle {
    @extend %flex-col-center-center;
    color: $mediumGrayColor;
    margin-bottom: 30px;

    .post__title {
      @include customFont($darkGrayColor, 30px, $lightWeight, capitalize);
      line-height: 50px;
      margin-top: 40px;
    }

    $font-size: 15px;
    $line-height: 2;
    $lines-to-show: 3;
    .post__content-preview {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.post-preview__quote {
      width: 100%;
      max-width: 700px;
      height: 400px;
      background-color: $postBgColor;
      position: relative;
      padding: 100px;
      z-index: 2;

      &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $postBgColor;
        opacity: 0.4;
        left: 5px;
        bottom: -5px;
        z-index: 1;
      }

      .post__quote {
        @include customFont($whiteColor, 30px, $lightWeight, none);
        font-style: italic;
        line-height: 50px;
        position: relative;
        z-index: 2;
      }

      .post__preview-img,
      .post__title,
      .post__content-preview {
        display: none;
      }

      @include respond-to(large-device) {
        padding: 70px;
      }
    }

    @include respond-to(large-device) {
      .post__preview-img {
        width: 100%;
      }

      &.post-preview__quote {
        width: 100%;
        max-width: 100%;
      }
    }

    @include respond-to(small-device) {
      margin-bottom: 20px;

      .post__title {
        margin-top: 15px;
        font-size: 24px;
      }

      &.post-preview__quote {
        height: auto;
        padding: 50px;
      }

      .post__quote {
        font-size: 24px;
      }
    }
  }

  .post-preview__bottom {
    @extend %flex-row;
    align-items: center;
    justify-content: flex-start;

    .bottom__block {
      @extend %flex-row;
      align-items: center;
      justify-content: center;
      color: $lightGrayColor;
      padding: 0 15px;
      line-height: 20px;
      border-right: 1px solid $postPreviewBorderColor;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right-width: 0;
      }

      a {
        text-decoration: none;
        @include customTransition($duration: 0.2s);
      }

      button {
        @include customTransition($duration: 0.2s);
        color: $lightGrayColor;
        appearance: none;
        border: none;
        background-color: transparent;

        &:hover {
          color: $blackColor;
        }
      }

      .social-icon__container {
        display: flex;
        margin-bottom: 0;
        flex-flow: row nowrap;
        .social-icon__item {
          list-style: none;
          display: inline;
          margin-right: 25px;
          font-size: 14px;

          .social-icon__link {
            @include customTransition($duration: 0.2s);
          }
        }
      }
    }

    @include respond-to(small-device) {
      flex-direction: column;
      align-items: flex-start;

      .bottom__block {
        align-items: flex-start;
        padding: 0;
        margin-bottom: 10px;
        border: none;

        &:last-child {
          margin-bottom: 0;
        }

        button {
          padding: 0;
        }

        .social-icon__container {
          padding-left: 25px;
        }
      }
    }
  }

  @include respond-to(large-device) {
    padding: 100px 30px 0;
    max-width: calc(100% - 370px);

    .post__preview-img img {
      width: 100%;
    }
  }

  @include respond-to(medium-device) {
    padding-top: 50px;
    max-width: 700px;
  }

  @include respond-to(small-device) {
    max-width: 100%;
    padding: 50px 30px;

    .post__preview-img img {
      width: 100%;
    }
  }
}

.right-container {
  @extend %flex-col;
  align-items: flex-start;
  padding: 30px;
  padding-right: 0;
  width: calc(100% - 800px);
  min-width: 370px;
  background-color: transparent;
  position: relative;
  z-index: 2;

  .gray-background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $secondaryBgColor;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      left: -15px;
      top: 100px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 15px 15px 0;
      border-color: transparent $secondaryBgColor transparent transparent;
    }
  }

  .right__component {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 60px;

    &:first-child {
      margin-top: 0;
    }

    .title {
      @include customFont($darkGrayColor, 13px, 700, uppercase);
      line-height: 30px;
      padding-bottom: 15px;
      margin-bottom: 30px;
      position: relative;
      z-index: 2;

      &::after {
        content: "";
        @include primaryGradientBg($deg: 90deg);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 70px;
        height: 1px;
      }
    }

    &.component__search-box {
      position: relative;
      width: 100%;

      input {
        @include customFont($mediumGrayColor, 14px, $regularWeight, none);
        line-height: 40px;
        padding: 5px 20px;
        padding-left: 60px;
        width: 100%;

        &::placeholder {
          color: $lightGrayColor;
        }
      }

      button {
        position: absolute;
        left: 25px;
        top: calc(50% - 12px);
        padding: 0;
        color: $darkGrayColor;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background-color: transparent;
      }
    }

    &.component__popular {
      .popular__content {
        @extend %flex-col;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
      }

      .popular-post__preview {
        @extend %flex-row;
        align-items: flex-start;
        justify-content: center;
        line-height: 30px;
        margin-top: 30px;
        &:first-child {
          margin-top: 0;
        }
      }

      .preview__img {
        margin-right: 20px;
        height: 80px;
        width: 110px;
      }

      .preview__title {
        @include customFont($darkGrayColor, 14px, $semiBoldWeight, capitalize);
        @include customTransition($duration: 0.2s);
        display: block;
        margin-top: -8px;
        text-decoration: none;

        &:hover {
          color: $postBgColor;
        }
      }

      .preview__postedAt {
        @include customFont($lightGrayColor, 14px, $regularWeight, none);
      }
    }

    &.component__trending-tags {
      .post__tags {
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        .tag__detail {
          background: $whiteColor;
          width: auto;
          margin: 0 10px 10px 0;
          padding: 0 15px;

          &:hover {
            color: $darkGrayColor;
          }
        }
      }
    }

    &.component__newsletter {
      margin-top: 50px;
      .form-inside-input {
        padding: 0;
        margin-bottom: 20px;

        input {
          background-color: $whiteColor;
          border: 1px solid #e8e8e8;
        }

        input,
        button {
          border-radius: 0;
        }
      }
    }

    &.component__unplash {
      @extend %flex-row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      .unplash__img {
        margin-right: 12px;
        margin-bottom: 12px;
        width: calc((100% / 3) - 8px);
        height: 105px;

        &:nth-child(3n + 3) {
          margin-right: 0;
        }

        &:nth-last-child(-n + 3) {
          margin-bottom: 0;
        }

        @include respond-to(large-device) {
          height: calc((310px / 3) - 8px);
        }
      }
    }

    .linked-container {
      padding: 12px 0;
      border-bottom: 1px solid $postPreviewBorderColor;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      a {
        @include customFont($darkGrayColor, 14px, $regularWeight, capitalize);
        @include customTransition($duration: 0.2s);
        line-height: 30px;
        text-decoration: none;

        &:hover {
          color: $blackColor;
        }
      }
    }
  }

  @include respond-to(large-device) {
    padding-right: 30px;
  }

  @include respond-to(medium-device) {
    display: none;
  }
}

.detail__banner {
  // @extend %flex-col-center-center;
  position: relative;
  text-align: center;
  line-height: 1;
  width: 100%;
  background-color: #2f3b46;

  .banner__post-summary {
    @extend %flex-col-center-center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 70px;
    line-height: 1.5;

    .summary__title {
      @include customFont($whiteColor, 56px, $lightWeight, capitalize);
      line-height: 90px;
      margin-bottom: 50px;
      padding: 0 30px;
    }

    .summary__avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 30px;
    }

    .summary__author {
      @include customFont($whiteColor, 20px, $semiBoldWeight, capitalize);
    }

    .summary__postedAt {
      @include customFont($whiteColor, 14px, $regularWeight, capitalize);
    }

    @include respond-to(large-device) {
      .summary__title {
        font-size: 48px;
        line-height: 1.8;
      }
    }

    @include respond-to(medium-device) {
      .summary__title {
        padding: 0;
        font-size: 40px;
      }
    }

    @include respond-to(small-device) {
      padding: 20px 40px;
      .summary__title {
        font-size: 30px;
      }
    }

    @include respond-to(phone-only) {
      .summary__title {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .summary__avatar {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
      }
    }
  }
  .summary__btn {
    @include customFont($whiteColor, 12px, $boldWeight, uppercase);
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    height: 50px;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -25px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }

    span {
      margin: 0 10px;
    }

    &:disabled {
      padding: 0 20px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    &.prev-btn {
      left: 50px;
    }

    &.next-btn {
      right: 50px;
    }

    &.scroll-down-btn {
      top: auto;
      left: 50%;
      margin-left: -35px;
      bottom: 0;
    }

    @include respond-to(large-device) {
      &.prev-btn {
        left: 30px;
      }
      &.next-btn {
        right: 30px;
      }
    }

    @include respond-to(medium-device) {
      padding: 0 20px;
      &.prev-btn {
        left: 10px;
      }
      &.next-btn {
        right: 10px;
      }
    }

    @include respond-to(phone-only) {
      padding: 0 10px;
      width: 40px;
      height: 40px;

      &.scroll-down-btn {
        margin-left: -20px;
      }
    }
  }
}

.carousel__other-posts {
  @extend %flex-row-center-center;
  height: 700px;
  background-color: #212529;

  .carousel-inner,
  .carousel-item {
    width: 100%;
    height: 700px;
    background-color: #212529;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 50%;
    margin-top: -25px;
    @include respond-to(medium-device) {
      display: none;
    }
  }

  .carousel-control-next {
    right: 50px;
  }

  .carousel-control-prev {
    left: 50px;
  }

  .carousel-item,
  .detail__others,
  .others__container {
    @extend %flex-col-center-center;
  }

  .others__container {
    color: $whiteColor;
    text-align: center;
    padding: 0 70px;

    .others__greeting {
      font-size: 18px;
      padding-bottom: 35px;
      position: relative;
      margin-bottom: 20px;

      &::after {
        @include primaryGradientBg($deg: 90deg);
        position: absolute;
        content: "";
        width: 70px;
        height: 1px;
        bottom: 0;
        left: 50%;
        margin-left: -35px;
      }
    }

    .others__title {
      @include customFont($whiteColor, 48px, $lightWeight, capitalize);
      line-height: 70px;

      @include respond-to(large-device) {
        font-size: 36px;
      }

      @include respond-to(medium-device) {
        font-size: 30px;
      }

      @include respond-to(small-device) {
        font-size: 24px;
      }

      @include respond-to(phone-only) {
        font-size: 18px;
      }
    }

    .others__read-more-btn {
      @include customFont($whiteColor, 14px, $boldWeight, uppercase);
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.4);
      margin-top: 30px;
      border: none;
    }

    @include respond-to(phone-only) {
      padding: 20px;
    }
  }

  @include respond-to(large-device) {
    .carousel-control-next {
      right: 30px;
    }

    .carousel-control-prev {
      left: 30px;
    }
  }

  @include respond-to(small-device) {
    &,
    .carousel-inner,
    .carousel-item {
      height: auto;
      min-height: calc(100vh - 80px);
    }
  }
}

.blog__detail {
  color: $mediumGrayColor;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 30px;

  p {
    margin-bottom: 30px;
    text-align: justify;
  }

  .detail__introduction {
    color: $darkGrayColor;
    font-size: 18px;
  }

  .content__img {
    margin-bottom: 30px;
    width: 100%;
  }

  h4 {
    font-size: 24px;
    color: $darkGrayColor;
    margin-bottom: 20px;
  }

  .blue-text {
    color: $primaryColor;
  }

  .content__quote-box {
    width: 100%;
    padding: 50px;
    @include customFont($lightGrayColor, 24px, $lightWeight, none);
    font-style: italic;
    background-color: #f7f7f7;
    margin-bottom: 30px;
  }

  .detail__social-btn {
    @extend %flex-row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .social-btn {
      flex-basis: calc((100% / 5) - 5px);

      a {
        color: $whiteColor;
      }

      &:last-child {
        margin-right: 0;
      }

      // &:hover {
      //   box-shadow: none;
      // }
    }
  }

  @include respond-to(small-device) {
    padding-bottom: 0;

    .content__quote-box {
      padding: 20px;
      font-size: 18px;
    }

    .detail__social-btn {
      justify-content: flex-start;
      .social-btn {
        flex-basis: calc((100% / 3) - 4px);
        margin-right: 6px;
        margin-bottom: 6px;

        &:nth-child(3n + 3) {
          margin-right: 0;
        }
      }
    }
  }
}
