/* CSS for Footer */
.Footer {
  display: flex;
  flex-direction: column;
}

.Footer .top-content {
  background-color: #242427;
  display: flex;
  align-items: center;
  min-height: 385px;
  width: 100%;
}

.Footer .top-content .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 70px;
  justify-content: space-between;
}

.Footer .top-content .contact-box {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}

.Footer .top-content .contact-box p {
  margin-bottom: 10px;
}

.Footer .top-content .contact-box .title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.Footer .bot-content {
  background-color: #1a1a1d;
  display: flex;
  color: #666;
  flex-direction: row;
  align-items: center;
  min-height: 90px;
  width: 100%;
}

.Footer .bot-content .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

.Footer .bot-content .copyright {
  display: flex;
  align-items: center;
}

.Footer .bot-content .copyright .semibold {
  font-weight: 600;
  color: #999;
}

.Footer .nav li {
  margin: 0 15px;
  font-size: 20px;
}

.Footer .nav li a {
  color: #999;
}

.Footer .nav li a:hover {
  color: #fff;
}
