@import "variables.scss";

.page__header {
  .container {
    min-height: 90px;
    padding: 25px;
    @extend %flex-row-center-center;
    @include respond-to(phone-only) {
      padding: 20px 15px;
      min-height: 60px;
    }
    .navbar {
      width: 100%;
      padding: 0;

      .navbar-brand {
        width: 80%;
        margin-right: 0;
        max-width: 345px;
        @include respond-to(medium-device) {
          margin-bottom: 10px;
        }
        @include respond-to(phone-only) {
          width: 75%;
        }

        .logo {
          width: 100%;
          max-height: 30px;
          &:hover {
            text-decoration: none;
          }
        }
      }

      .navbar-nav {
        .nav-link {
          text-transform: uppercase;
          font-size: 15px;
          margin: 20px;
          padding: 0;
          font-weight: $semiBoldWeight;
          color: $darkGrayColor;
          @include customTransition($duration: 0.2s);

          &:hover {
            color: $primaryColor;
          }
          @include respond-to(large-device) {
            margin: 15px;
          }
          @include respond-to(medium-device) {
            margin: 10px 0;
          }
        }

        .active {
          color: $primaryColor;
        }
      }
    }
  }
}
