nav.navbar {
  height: 90px;
  padding: 0;
}

.container .navbar a:hover {
  text-decoration: none;
}
.navbar .title {
  font-weight: 300;
  font-size: 30px;
}

.navbar-expand .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 15px;
  margin: 20px;
  padding: 0;
  font-weight: 600;
  color: #333;
}

.navbar-expand .navbar-nav .nav-link.active {
  color: #4285f4;
}
