@import "variables.scss";
@mixin primaryGradientBg($deg: 0deg) {
  background: rgb(0, 240, 255);
  background: linear-gradient(
    $deg,
    rgba(0, 240, 255, 1) 0%,
    rgba(235, 172, 253, 1) 100%
  );
}

@mixin primaryGradientColor($deg: 0deg) {
  background: -webkit-linear-gradient(
    $deg,
    rgba(0, 240, 255, 1) 0%,
    rgba(235, 172, 253, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$iconHoverBg: #4285f4;

/* CSS for Homepage */
*:focus {
  outline: 0 !important;
}

.home__content {
  .section.pt-70 {
    padding-top: 70px;
  }

  .section.pb-100 {
    padding-bottom: 100px;
  }
  // Begin slideshow
  .section-slideshow {
    position: relative;
    background-image: url("../assets/slider_bg2.jpg");
    width: 100%;
    height: 990px;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    .banner-slideshow {
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 2;

      img {
        margin-bottom: 30px;
      }

      .btn-group {
        .primary-btn {
          margin: 10px;
          text-transform: uppercase;

          &:focus {
            box-shadow: none;
          }

          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
  // End Slideshow

  .section-functionals .container {
    width: 100%;
    @extend %flex-row-center-space-between;

    .functional-item {
      @extend %flex-col-center-center;
      width: 270px;
      margin: 90px 10px;

      .icon {
        @extend %flex-row-center-center;
        @include primaryGradientBg($deg: 42deg);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 25px;

        .icon-img {
          @include customFont($whiteColor, 30px, $regularWeight, none);
        }

        &:hover {
          background: $iconHoverBg;

          + .title {
            color: $blackColor;
          }
        }
      }

      .title {
        font-size: 18px;
        font-weight: $semiBoldWeight;
        color: $darkGrayColor;
        line-height: 30px;
        margin-bottom: 20px;
      }

      .content {
        color: $mediumGrayColor;
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
        line-height: 30px;
      }
    }
  }

  .section-greate-theme {
    @extend %flex-col;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 775px;
    align-items: center;
    justify-content: center;

    .aifs {
      // Align item: flex-start
      align-items: flex-start;
    }

    .aife {
      // Align item: flex-end
      align-items: flex-end;
    }

    .container {
      @extend %flex-col;
      justify-content: center;

      .box-content {
        max-width: 600px;

        .title {
          position: relative;
          font-size: 36px;
          font-weight: $lightWeight;
          color: $darkGrayColor;
          padding-bottom: 20px;
          margin-bottom: 25px;

          &::after {
            @include primaryGradientBg($deg: 90deg);
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 1px;
          }
        }

        .content {
          font-size: 14px;
          line-height: 30px;
          color: $mediumGrayColor;
          margin-bottom: 35px;

          .gray-text {
            color: $lightGrayColor;
            font-size: 18px;
            line-height: 2;
            margin-bottom: 15px;
          }
        }

        // .take-a-tour {
        //   @extend %flex-row-center-center;
        //   @include customFont($whiteColor, 14px, $boldWeight, uppercase);
        //   background-color: $primaryColor;
        //   width: 270px;
        //   height: 55px;
        //   border-radius: 5px;
        //   border: 1px solid $primaryBorderColor;
        //   @include customTransition($duration: 0.2s);

        //   &:hover {
        //     @include customBoxShadow(
        //       $blurRadius: 10px,
        //       $shadowColor: rgba(0, 0, 0, 0.3)
        //     );
        //   }

        //   .icon {
        //     font-weight: bold;
        //   }
        // }
      }
    }

    &::after {
      // content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $lightenOverlay;
      z-index: 1;
    }
  }

  .section-utils {
    .container {
      @extend %flex-row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 555px;
      padding: 100px 0;

      .util-item {
        @extend %flex-row;
        align-items: flex-start;
        justify-content: space-between;
        width: 370px;
        min-height: 160px;

        .icon {
          @include primaryGradientColor(42deg);
          font-size: 40px;
          margin-right: 25px;
        }

        .content {
          @include customFont($mediumGrayColor, 14px, $regularWeight, none);
          line-height: 30px;
          text-align: justify;
          .title {
            @include customFont(
              $darkGrayColor,
              18px,
              $semiBoldWeight,
              capitalize
            );
            margin-bottom: 15px;
            vertical-align: text-top;
            line-height: 18px;
          }
        }
      }
    }
  }

  .section-analyzer {
    @extend %flex-row;
    background-color: $analyzerBg;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .analyzer-item {
      @extend %flex-col-center-center;
      width: 320px;
      height: 280px;
      border-right: 1px solid $secondaryBorderColor;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1px);
        height: 3px;
        border: none;
        z-index: 2;
      }

      .counter {
        font-size: 60px;
        line-height: 60px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        line-height: 60px;
        position: relative;

        &::after {
          @include primaryGradientBg(90deg);
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 30px;
          height: 1px;
          margin-left: -15px;
        }
      }

      .title {
        @include customFont(#fff, 14px, $lightWeight, capitalize);
      }
    }
  }

  .section-parallax {
    width: 100%;
    height: 800px;
    position: relative;

    .container {
      @extend %flex-col-center-center;
      @include customFont(#fff, 14px, $regularWeight, none);
      height: 100%;
      text-align: center;
      position: relative;
      z-index: 2;

      .icon {
        margin-bottom: 80px;
        font-size: 90px;
        color: #fff;
      }

      .quote {
        @include customFont(#fff, 30px, $lightWeight, none);
        line-height: 50px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        position: relative;

        &::after {
          @include primaryGradientBg(90deg);
          content: "";
          position: absolute;
          width: 100px;
          height: 1px;
          left: 50%;
          bottom: 0;
          margin-left: -50px;
        }
      }

      .signing .author {
        @include customFont(#fff, 14px, $boldWeight, uppercase);
        line-height: 24px;
        margin-bottom: 5px;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  .section-services,
  .section-skills {
    width: 100%;

    .container {
      &.flex-row-reverse {
        flex-direction: row-reverse !important;
      }

      @extend %flex-row;
      @include customFont(#ccc, 14px, $regularWeight, none);
      flex-wrap: wrap;
      align-items: center;
      line-height: 30px;
      max-width: 100%;
      min-height: 800px;
      // height: 800px;

      .dark-content {
        background-color: $homeServicesLeftBg;
        min-width: 775px;
        width: 775px;
        padding: 80px 100px;
        min-height: 800px;
        height: 100%;

        .title {
          @include customFont(#fff, 36px, $lightWeight, capitalize);
          line-height: 64px;
          padding-bottom: 10px;
          margin-bottom: 25px;
          position: relative;

          &::after {
            @include primaryGradientBg(90deg);
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            bottom: 0;
            left: 0;
          }
        }

        .content {
          margin-bottom: 25px;
          .gray-text {
            @include customFont(#b9b9b9, 18px, $lightWeight, none);
            margin-bottom: 20px;
          }
        }

        .doing-list {
          padding: 0;
          margin: 20px 0;
          li {
            padding-left: 20px;
            list-style: none;

            &::before {
              content: "\f054";
              font-family: FontAweSome;
              display: inline-block;
              margin-left: -20px;
              width: 20px;
            }
          }
        }
      }

      .right-content {
        @extend %flex-row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        width: calc(100% - 775px);
        height: 100%;

        .service-item {
          @extend %flex-col-center-center;
          @include customFont($mediumGrayColor, 14px, $regularWeight, none);
          @include customTransition($duration: 0.3s);
          width: calc(100% / 3);
          height: 400px;
          padding: 60px;
          text-align: center;
          border-top: 1px solid $serviceBoxBorder;
          border-right: 1px solid $serviceBoxBorder;

          &:nth-child(-n + 3) {
            border-top-color: transparent;
          }

          &:nth-child(3n + 0) {
            border-right-color: transparent;
          }

          &:hover {
            @include customBoxShadow(
              $blurRadius: 5px,
              $shadowColor: rgba(0, 0, 0, 0.3)
            );
          }

          .title {
            @include customFont(
              $darkGrayColor,
              18px,
              $semiBoldWeight,
              capitalize
            );
            line-height: 30px;
            margin-top: 50px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .section-partners {
    background: url("../assets/partner-bg.jpg") no-repeat;
    height: 1296px;

    .partner-logos {
      @extend %flex-row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .logo {
        width: calc(100% / 4);
        border-top: 1px solid #c7c4c8;
        border-right: 1px solid #c7c4c8;

        &:nth-child(-n + 4) {
          border-top-color: transparent;
        }

        &:nth-child(4n + 0) {
          border-right-color: transparent;
        }
      }
    }
  }

  .section-pricing-table {
    .container {
      z-index: 10;
      position: relative;
    }
    .recommend {
      .selected {
        z-index: 1;
        width: 200px;
        height: 50px;
        padding: 0 20px;
        font-size: 13px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        // box-shadow: 0px 2px 5px #888888;
        background: #4285f4;
        // border-top: 5px solid #4285f4;
        // border-bottom: 5px solid #4285f4;
        //background: #palegoldenrod;
        transform: rotate(-45deg);
        position: absolute;
        left: -50px;
        top: 25px;
      }
    }
  }

  .section-lastest-blog {
    .container {
      @extend %flex-col;
      padding-bottom: 50px;
    }
    .posts {
      @extend %flex-row;
      align-items: flex-start;
      justify-content: space-between;
      height: 730px;
      margin-bottom: 50px;
      width: 100%;
    }

    .other-posts {
      @extend %flex-col;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;

      .post:first-child {
        margin-bottom: 30px;
      }
    }

    .post {
      @extend %flex-col;
      @include customFont($lightGrayColor, 14px, 400, none);
      align-items: flex-start;
      justify-content: flex-end;
      width: 570px;
      height: 100%;
      padding: 50px;
      background-color: #4c515b;

      .title {
        @include customFont($whiteColor, 24px, 600, none);
        text-align: left;
        margin: 25px 0;
      }

      &.bg-blue {
        background-color: $postBgColor;
        color: $whiteColor;
      }
    }

    .icon {
      margin-right: 10px;
    }
  }

  .section-skills {
    .container {
      align-items: flex-start;
    }

    .skills-box {
      margin: 50px 0;
    }

    .why-choose-us {
      @extend %flex-col;
      width: calc(100% - 775px);
      height: 100%;
      padding: 80px 100px;

      .title h4 {
        color: $darkGrayColor;
      }

      .reasons {
        @extend %flex-row-center-space-between;
        margin-bottom: 60px;

        .reason-item {
          text-align: justify;
          &:first-child {
            margin-right: 40px;
          }
        }

        .reason-img {
          width: 100%;
        }
      }

      .name {
        @include customFont($darkGrayColor, 18, 600, capitalize);
        margin: 20px 0 15px 0;
      }

      .reason-description {
        color: $mediumGrayColor;
      }

      .reason-btn {
        padding: 0;
        border: 0;
      }
    }
  }
}

#first-greate-theme {
  background-image: url("../assets/greate-theme-bg.jpg");
}

#second-greate-theme {
  background: $secondaryBgColor url("../assets//macbook-bg.png") no-repeat left
    center;
  background-size: 700px;
}

#parallax {
  background: url("../assets/parallax-bg.jpg") no-repeat center;
}

#video {
  background: url("../assets/video-bg.jpg") no-repeat center;
}

#lastest-twitter {
  background: url("../assets/twitter-bg.jpg") no-repeat center;
}
