@import "variables.scss";

/* CSS for Homepage */
*:focus {
  outline: 0 !important;
}

.home__content {
  .section.pt-70 {
    padding-top: 70px;
  }

  .section.pb-100 {
    padding-bottom: 100px;
  }
  // Begin slideshow
  .section-slideshow {
    // background: url("../assets/slider_bg2.jpg") no-repeat center;
    // background-size: cover;
  }
  // End Slideshow

  .section-analyzer {
    @extend %flex-row;
    background-color: $analyzerBg;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .analyzer-item {
      @extend %flex-col-center-center;
      flex-basis: calc(100% / 6);
      height: 280px;
      border-right: 1px solid $secondaryBorderColor;
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1px);
        height: 3px;
        border: none;
        z-index: 2;
      }

      .counter {
        font-size: 60px;
        line-height: 60px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        line-height: 60px;
        position: relative;

        &::after {
          @include primaryGradientBg(90deg);
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 30px;
          height: 1px;
          margin-left: -15px;
        }
      }

      .title {
        @include customFont(#fff, 14px, $lightWeight, capitalize);
      }

      @include respond-to(large-device) {
        flex-basis: calc(100% / 3);
      }

      @include respond-to(small-device) {
        flex-basis: calc(100% / 2);
      }

      @include respond-to(phone-only) {
        flex-basis: 100%;
        height: 180px;
      }
    }
  }

  .section-partners {
    background: url("../assets/partner-bg.jpg") no-repeat center;
    background-size: cover;
    max-height: 1296px;
    height: 100vh;
    padding: 70px 0;

    .partner-logos {
      @extend %flex-row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .logo {
        width: calc(100% / 4);
        border-top: 1px solid #c7c4c8;
        border-right: 1px solid #c7c4c8;

        &:nth-child(-n + 4) {
          border-top-width: 0;
        }

        &:nth-child(4n + 0) {
          border-right-width: 0;
        }
      }
    }

    @include respond-to(large-device) {
      height: auto;
    }

    @include respond-to(medium-device) {
      padding: 50px 0;
      .partner-logos {
        padding: 0 50px;
        .logo {
          width: calc(100% / 2);

          &:nth-child(n + 3) {
            border-top-width: 1px;
          }

          &:nth-child(2n + 0) {
            border-right-width: 0;
          }
        }
      }
    }

    @include respond-to(phone-only) {
      padding: 30px 40px;
      max-height: 100%;
      .partner-logos {
        padding: 10px 0;

        .logo {
          width: 100%;
          border-right-width: 0;

          &:nth-child(2) {
            border-top-width: 1px;
          }
        }
      }
    }
  }

  .section-pricing-table {
    padding: 70px 0 100px 0;
    .pricing-features {
      z-index: 10;
      position: relative;
      padding: 0 30px;
      flex-wrap: wrap;
    }

    @include respond-to(medium-device) {
      padding: 70px 0;
      .plan-btn {
        padding: 30px 20px;
      }

      .plan-description {
        padding: 0 20px;
      }
    }

    @include respond-to(small-device) {
      .pricing-item {
        flex-basis: 100%;
        padding: 40px 0 0 0;
        margin-bottom: 40px;
      }

      .plan-title {
        padding-bottom: 40px;
      }
    }

    @include respond-to(phone-only) {
      .plan-description {
        display: none;
      }
    }

    .recommend {
      .selected {
        z-index: 1;
        width: 200px;
        height: 50px;
        padding: 0 20px;
        font-size: 13px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        background: #4285f4;
        transform: rotate(-45deg);
        position: absolute;
        left: -50px;
        top: 25px;
      }
    }

    @include respond-to(phone-only) {
      padding: 20px 0;
    }
  }

  .section-lastest-blog {
    padding: 70px 0 50px;
    .container {
      @extend %flex-col;
    }
    .posts {
      @extend %flex-row;
      align-items: flex-start;
      // flex-wrap: wrap;
      justify-content: space-between;
      height: 730px;
      margin-bottom: 50px;
      width: 100%;
    }

    .other-posts {
      @extend %flex-col;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;

      .post:first-child {
        margin-bottom: 30px;
      }
    }

    .post {
      @extend %flex-col;
      @include customFont($lightGrayColor, 14px, 400, none);
      align-items: flex-start;
      justify-content: flex-end;
      // flex-basis: 570px;
      width: 570px;
      height: 100%;
      padding: 50px;
      background-color: #4c515b;

      .title {
        @include customFont($whiteColor, 24px, 600, none);
        text-align: left;
        margin: 25px 0;
        padding: 0;
      }

      &.bg-blue {
        background-color: $postBgColor;
        color: $whiteColor;
      }

      @include respond-to(phone-only) {
        .title {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }
    }

    .icon {
      margin-right: 10px;
    }

    @include respond-to(large-device) {
      .posts {
        padding: 0 30px;
        height: 600px;
      }

      .post {
        // flex-basis: 50%;
        width: calc(50% - 15px);
        height: 100%;
        padding: 40px;
      }

      .other-posts {
        width: calc(50% - 15px);
        .post {
          width: 100%;
        }
      }
    }

    @include respond-to(medium-device) {
      padding: 30px 0;

      .posts {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 30px;
      }

      .post,
      .other-posts {
        width: 100%;
        max-width: 570px;
        height: auto;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .post {
        padding: 30px 20px;
      }

      .other-posts .post .title {
        margin-top: 0;
      }
    }

    @include respond-to(phone-only) {
      .post {
        min-height: 210px;
      }
    }
  }
}

#first-home-introduce {
  background: url("../assets/introduce-bg.jpg") no-repeat center;
  background-size: cover;
}

#second-home-introduce {
  background: #f6f7f9 url("../assets//macbook-bg.jpg") no-repeat left;
  background-position-x: -100px;

  @include respond-to(large-device) {
    background-position-x: -200px;
  }

  @include respond-to(medium-device) {
    background-position-x: -400px;
  }
}

#parallax {
  // background: url("../assets/parallax-bg.jpg") no-repeat center;
  background-image: url("../assets/parallax-bg.jpg");
}

#video {
  // background: url("../assets/video-bg.jpg") no-repeat center;
  background-image: url("../assets/video-bg.jpg");
}

#lastest-twitter {
  // background: url("../assets/twitter-bg.jpg") no-repeat center;
  background-image: url("../assets/twitter-bg.jpg");
}
