@import "variables.scss";

* {
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

.container {
  max-width: 1170px;
  padding: 0;
}

.banner {
  position: relative;
  text-align: center;
  line-height: 1;
  padding: 0 20px;
  width: 100%;
  // max-height: 990px;
  // height: calc(100vh - 92px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;

  * {
    z-index: 2;
  }

  .large-text {
    @include customFont(
      $color: $whiteColor,
      $fontSize: 70px,
      $fontWeight: $regularWeight,
      $textTransform: uppercase
    );
    margin-bottom: 25px;
  }

  .small-text {
    @include customFont(
      $color: $whiteColor,
      $fontSize: 30px,
      $fontWeight: $lightWeight,
      $textTransform: capitalize
    );
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  @include respond-to(large-device) {
    .large-text {
      font-size: 50px;
    }

    .small-text {
      font-size: 26px;
    }
  }

  @include respond-to(medium-device) {
    line-height: 1.5;
    .large-text {
      font-size: 40px;
      margin-bottom: 20px;
    }

    .small-text {
      font-size: 22px;
    }
  }

  @include respond-to(small-device) {
    // line-height: 1.5;
    .large-text {
      font-size: 36px;
    }
    .small-text {
      font-size: 18px;
      line-height: 2;
    }
  }

  @include respond-to(phone-only) {
    .large-text {
      font-size: 30px;
    }
  }
}

.blog__content .banner {
  max-height: 500px;
}

.section-key-features .container {
  width: 100%;
  @extend %flex-row-center-space-between;
  flex-wrap: wrap;

  .feature-item {
    @extend %flex-col-center-center;
    padding: 90px 10px;
    flex-basis: calc(100% / 4);
    @include respond-to(medium-device) {
      flex-basis: calc(100% / 2);
      padding: 50px 20px;
    }

    @include respond-to(small-device) {
      flex-basis: 100%;
      padding: 30px 20px;
    }

    .icon {
      @extend %flex-row-center-center;
      @include primaryGradientBg($deg: 42deg);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 25px;

      .icon-img {
        @include customFont($whiteColor, 30px, $regularWeight, none);
      }

      &:hover {
        background: $iconHoverBg;

        + .title {
          color: $blackColor;
        }
      }
    }

    .title {
      font-size: 18px;
      font-weight: $semiBoldWeight;
      color: $darkGrayColor;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .content {
      color: $mediumGrayColor;
      font-size: 14px;
      text-align: center;
      padding: 0 10px;
      line-height: 30px;
    }
  }

  @include respond-to(small-device) {
    padding: 20px 0;
  }
}

.section-additional-features {
  background-color: $additionalFeaturesBg;
  .container {
    @extend %flex-row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    // height: 555px;
    padding: 100px 0;

    .additional-feature-item {
      @extend %flex-row;
      align-items: flex-start;
      justify-content: space-between;
      // max-width: 370px;
      flex-basis: 370px;
      min-height: 160px;
      padding: 20px 0;

      .icon {
        @include primaryGradientColor(42deg);
        font-size: 40px;
        margin-right: 25px;
      }

      .content {
        @include customFont($mediumGrayColor, 14px, $regularWeight, none);
        line-height: 30px;
        text-align: justify;
        .title {
          @include customFont(
            $darkGrayColor,
            18px,
            $semiBoldWeight,
            capitalize
          );
          margin-bottom: 15px;
          vertical-align: text-top;
          line-height: 18px;
        }
      }
    }

    @include respond-to(large-device) {
      padding: 50px 20px;
      justify-content: space-around;
      .additional-feature-item {
        flex-basis: calc(100% / 2);
        padding: 20px 30px;
      }
    }

    @include respond-to(small-device) {
      padding: 20px;
      .additional-feature-item {
        flex-basis: 100%;
        padding: 20px 5px;
      }
    }
  }
}

.section-introduce {
  @extend %flex-col;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 775px;
  align-items: center;
  justify-content: center;

  .aifs {
    // Align item: flex-start
    align-items: flex-start;
  }

  .aife {
    // Align item: flex-end
    align-items: flex-end;
    @include respond-to(small-device) {
      align-items: flex-start;
    }
  }

  .container {
    @extend %flex-col;
    justify-content: center;

    &.txt-al-l {
      // Text align left
      text-align: left;
    }

    &.txt-al-r {
      // Text align right
      text-align: right;
      .box-content {
        padding-left: 0;
        padding-right: 20px;
        .title::after {
          left: auto;
          right: 0;
        }

        @include respond-to(large-device) {
          padding: 0 30px;
        }

        @include respond-to(small-device) {
          padding: 20px;
        }
      }
    }

    .box-content {
      max-width: 600px;
      padding-left: 20px;

      .title {
        position: relative;
        font-size: 36px;
        font-weight: $lightWeight;
        color: $darkGrayColor;
        padding-bottom: 20px;
        margin-bottom: 25px;

        &::after {
          @include primaryGradientBg($deg: 90deg);
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100px;
          height: 1px;
        }
      }

      .content {
        font-size: 14px;
        line-height: 30px;
        color: $mediumGrayColor;
        margin-bottom: 35px;

        .gray-text {
          color: $lightGrayColor;
          font-size: 18px;
          line-height: 2;
          margin-bottom: 15px;
        }
      }

      .introduce-list {
        margin: 0;
        padding: 0;

        li {
          @include customFont($darkGrayColor, 14px, 400, none);
          line-height: 32px;
        }
      }

      @include respond-to(large-device) {
        padding: 0 30px;
      }

      @include respond-to(small-device) {
        max-width: 100%;
        padding: 20px;

        .title {
          font-size: 30px;
        }
      }
    }
  }

  @include respond-to(phone-only) {
    height: auto;
    max-height: 300vh;
  }
}

.section-parallax {
  width: 100%;
  height: 800px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    @extend %flex-col-center-center;
    @include customFont(#fff, 14px, $regularWeight, none);
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 2;

    .icon {
      font-size: 90px;
      color: #fff;
      margin-bottom: 40px;
    }

    .quote {
      @include customFont(#fff, 30px, $lightWeight, none);
      line-height: 50px;
      padding-bottom: 40px;
      margin: 40px 0;
      position: relative;

      &::after {
        @include primaryGradientBg(90deg);
        content: "";
        position: absolute;
        width: 100px;
        height: 1px;
        left: 50%;
        bottom: 0;
        margin-left: -50px;
      }
    }

    .signing .author {
      @include customFont(#fff, 14px, $boldWeight, uppercase);
      line-height: 24px;
      margin-bottom: 5px;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  @include respond-to(medium-device) {
    height: 100vh;
    // background-size: contain;

    .container {
      padding: 20px;

      .quote {
        font-size: 26px;
      }
    }
  }

  @include respond-to(phone-only) {
    height: auto;

    .container .quote {
      font-size: 20px;
    }

    .container .icon {
      margin-bottom: 20px;
    }
  }
}

.section-best-services,
.section-skills {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  .container {
    &.flex-row-reverse {
      flex-direction: row-reverse !important;
    }

    @extend %flex-row;
    @include customFont(#ccc, 14px, $regularWeight, none);
    flex-wrap: wrap;
    align-items: center;
    line-height: 30px;
    min-width: 100%;
    // min-height: 800px;
    // height: 800px;

    .dark-content {
      background-color: $homeServicesLeftBg;
      @extend %flex-col;
      align-items: flex-start;
      justify-content: center;
      flex-basis: 775px;
      padding: 80px 100px;
      min-height: 800px;
      height: 100%;

      .title {
        @include customFont(#fff, 36px, $lightWeight, capitalize);
        line-height: 64px;
        padding-bottom: 10px;
        margin-bottom: 25px;
        position: relative;

        &::after {
          @include primaryGradientBg(90deg);
          content: "";
          position: absolute;
          width: 100px;
          height: 1px;
          bottom: 0;
          left: 0;
        }
      }

      .content {
        margin-bottom: 25px;
        .gray-text {
          @include customFont(#b9b9b9, 18px, $lightWeight, none);
          margin-bottom: 20px;
        }
      }

      .doing-list {
        padding: 0;
        margin: 20px 0;
      }
    }

    .right-content {
      @extend %flex-row;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-basis: calc(100% - 775px);
      height: 100%;

      .service-item {
        @extend %flex-col-center-center;
        @include customFont($mediumGrayColor, 14px, $regularWeight, none);
        @include customTransition($duration: 0.3s);
        width: calc(100% / 3);
        height: 50%;
        padding: 60px;
        text-align: center;
        border-top: 1px solid $serviceBoxBorder;
        border-right: 1px solid $serviceBoxBorder;

        &:nth-child(-n + 3) {
          border-top-width: 0;
        }

        &:nth-child(3n + 0) {
          border-right-width: 0;
        }

        &:hover {
          @include customBoxShadow(
            $blurRadius: 5px,
            $shadowColor: rgba(0, 0, 0, 0.3)
          );
        }

        .title {
          @include customFont(
            $darkGrayColor,
            18px,
            $semiBoldWeight,
            capitalize
          );
          line-height: 30px;
          margin-top: 50px;
          margin-bottom: 10px;
        }
      }
    }

    @include respond-to(extra-large-device) {
      .dark-content {
        padding: 60px;
        flex-basis: 50%;
      }
      .right-content {
        min-width: 50%;
        flex-basis: 50%;
        justify-content: space-around;

        .service-item {
          width: calc(100% / 2);
          height: calc(100% / 3);
          min-height: 400px;

          &:nth-child(3n),
          &:nth-child(3n + 0) {
            border-top-width: 1px;
            border-right-width: 1px;
          }

          &:nth-child(2n + 0) {
            border-right-width: 0;
          }
        }
      }
    }

    @include respond-to(large-device) {
      .dark-content,
      .right-content {
        flex-basis: 100%;
        height: auto;
      }
    }

    @include respond-to(medium-device) {
      .dark-content {
        padding: 30px 60px;
      }
    }

    @include respond-to(phone-only) {
      .dark-content {
        padding: 30px;
        // text-align: justify;
        button {
          margin: 0 auto;
          width: 100%;
          max-width: 270px;
        }
      }

      .right-content .service-item {
        width: 100%;
        padding: 30px;
        height: auto;
        min-height: 300px;
        border-right-width: 0;

        .title {
          margin-top: 30px;
        }

        &:nth-child(3n),
        &:nth-child(3n + 0) {
          border-right-width: 0;
        }

        &:nth-child(2n) {
          border-top-width: 1px;
        }
      }
    }
  }
}

.section-skills {
  .container {
    align-items: flex-start;
  }

  .skills-box {
    margin: 50px 0;
  }

  .why-choose-us {
    @extend %flex-col;
    width: calc(100% - 775px);
    // height: auto;
    padding: 80px 100px;

    .title {
      padding: 0;
    }

    .title h4 {
      color: $darkGrayColor;
      padding: 0;
      padding-bottom: 10px;
      line-height: 64px;
    }

    .reasons {
      @extend %flex-row-center-space-between;
      margin-bottom: 60px;

      .reason-item {
        text-align: justify;
        &:first-child {
          margin-right: 40px;
        }
      }

      .reason-img {
        width: 100%;
      }
    }

    .name {
      @include customFont($darkGrayColor, 18px, 600, capitalize);
      margin: 20px 0 15px 0;
    }

    .reason-description {
      color: $mediumGrayColor;
    }

    .reason-btn {
      padding: 0;
      border: 0;
    }
  }

  @include respond-to(extra-large-device) {
    .why-choose-us {
      width: 50%;
      padding: 60px;

      .title {
        padding: 0;
      }
    }
  }

  @include respond-to(large-device) {
    .why-choose-us {
      width: 100%;
    }
  }

  @include respond-to(medium-device) {
    .why-choose-us {
      padding: 30px 60px;
    }
  }

  @include respond-to(small-device) {
    .why-choose-us {
      padding: 30px;
      .reasons {
        flex-direction: column;
        margin-bottom: 25px;

        .reason-item:first-child {
          margin-right: 0;
          margin-bottom: 40px;
        }
      }
    }
  }
}

.purchase-box {
  width: 100%;

  .container {
    @extend %flex-row-center-space-between;
    flex-wrap: wrap;
    min-height: 180px;
    padding: 0 20px;

    .text {
      @include customFont(
        $color: $whiteColor,
        $fontSize: 30px,
        $fontWeight: $lightWeight,
        $textTransform: capitalize
      );

      @include respond-to(small-device) {
        font-size: 24px;
      }

      @include respond-to(phone-only) {
        font-size: 20px;
      }
    }

    .btn-purchase {
      @include customBtn(270px, 55px, transparent, solid 1px $whiteColor, 5px);
      @include customFont($whiteColor, 14px, $boldWeight, uppercase);
    }

    @include respond-to(large-device) {
      flex-direction: column;
      justify-content: center;

      .text {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    @include respond-to(phone-only) {
      padding: 20px;
    }
  }
}

.scroll-up-container {
  position: fixed;
  right: -100px;
  bottom: 50px;
  transition: right 0.5s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 25px;
  padding: 10px;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  @include customTransition($duration: 0.3s);
  @extend %flex-row-center-center;

  @include respond-to(phone-only) {
    bottom: 20px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.scroll-up-transition {
  right: 30px;

  @include respond-to(phone-only) {
    right: 15px;
  }
}

.contact .section-slideshow {
  background: url("../assets/contact-bg.jpg") no-repeat center;
  background-size: cover;
}

.about-us .section-slideshow {
  background: url("../assets/about-us-bg.jpg") no-repeat center;
  background-size: cover;
}

.blog-page .section-slideshow {
  background: url("../assets/blog-page-bg.jpg") no-repeat center;
  background-size: cover;
}

.container .arrow-list-item {
  list-style: none;

  padding-left: 20px;

  &::before {
    content: "\f054";
    font-family: FontAweSome;
    display: inline-block;
    margin-left: -20px;
    width: 20px;
  }
}

#about-us .partner-logos {
  @include respond-to(large-device) {
    padding: 20px 0;
    justify-content: space-around;
    .logo {
      width: calc(100% / 4);
      max-width: 280px;
    }
  }

  @include respond-to(small-device) {
    .logo {
      width: calc(100% / 2);
    }
  }

  @include respond-to(phone-only) {
    .logo {
      width: 100%;
    }
  }
}

.dark-overlay {
  position: relative;

  * {
    z-index: 2;
  }

  &::after {
    @include customOverlay(rgba(0, 0, 0, 0.2));
  }
}

.light-overlay {
  position: relative;

  * {
    z-index: 2;
  }

  &::after {
    @include customOverlay(rgba(255, 255, 255, 0.3));
  }
}

@include respond-to(phone-only) {
  section .pricing-item .plan-title h4 {
    font-size: 26px;
  }

  section .box-section .title h4 {
    font-size: 32px;
  }
}

#about-us .section-introduce {
  background: $whiteColor url("../assets/about-introduce-bg.png") no-repeat
    bottom;
}

#services #wordpress-introduce {
  background: $secondaryBgColor url("../assets/wp-bg.png") no-repeat center;
}

#services {
  #web-design {
    background: $whiteColor url("../assets/web-design-bg.png") no-repeat center;
  }

  .section-best-services {
    align-items: center;
    justify-content: center;
    padding: 70px 0 100px;

    @include respond-to(medium-device) {
      padding: 40px 0;
    }

    @include respond-to(small-device) {
      padding-bottom: 0;
    }

    .container {
      min-width: auto;
      max-width: 1170px;

      .right-content {
        flex-basis: 100%;
        justify-content: center;
        align-items: center;

        @include respond-to(extra-large-device) {
          .service-item {
            width: calc(100% / 3);
            height: calc(100% / 2);
            min-height: 400px;

            &:nth-child(2n) {
              border-right-width: 1px;
            }

            &:nth-child(3n + 3) {
              border-right-width: 0px;
            }
          }
        }

        @include respond-to(medium-device) {
          .service-item {
            width: calc(100% / 2);
            height: calc(100% / 3);
            min-height: 350px;
            // max-height: 350px;
            padding: 30px;

            &:nth-child(2n) {
              border-right-width: 0px;
            }

            &:nth-child(odd) {
              border-right-width: 1px;
            }
          }
        }

        @include respond-to(small-device) {
          .service-item {
            width: 100%;
            border-top-width: 1px;
            border-right-width: 0px;
            min-height: 300px;

            &:first-child {
              border-top-width: 0px;
            }
          }
        }
      }
    }
  }
}

// Begin Contact Form
.contact-form {
  padding: 50px 0;
  .box-section {
    @extend %flex-col;
    align-items: center;
    justify-content: center;
  }

  .required-note {
    @include customFont($mediumGrayColor, 14px, $lightWeight, none);
  }

  .form-inside-input {
    width: 100%;
    max-width: 540px;
    padding: 0 20px;
    margin-bottom: 50px;

    .input-group {
      margin-bottom: 20px;
      .error-msg {
        @include customFont($errorColor, 13px, $lightWeight, none);
        font-style: italic;
        margin-top: 5px;
        text-align: right;
        width: 100%;
      }
    }

    input,
    select,
    textarea {
      @include customFont($lightGrayColor, 16px, $lightWeight, none);
      background-color: transparent;
      border-radius: 5px;
      line-height: 36px;
      padding: 10px 30px;
      width: 100%;
    }

    textarea,
    select {
      margin-bottom: 20px;
      position: relative;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      z-index: 2;
    }

    textarea {
      resize: none;
      height: 200px;
    }

    input.error {
      border-color: $errorColor;
      @include customBoxShadow(
        $blurRadius: 4px,
        $shadowColor: rgba(0, 0, 0, 0.1)
      );
    }

    .select-div {
      position: relative;

      &::after {
        content: "\f078";
        font-family: FontAweSome;
        position: absolute;
        color: $lightGrayColor;
        right: 30px;
        width: 16px;
        height: 16px;
        top: 16px;
        z-index: 1;
      }
    }
  }

  &.dark-form {
    input,
    select,
    textarea {
      border: 1px solid #444957;
    }

    .box-section {
      .title h4 {
        color: $whiteColor;
      }
    }
  }

  @include respond-to(medium-device) {
    padding: 0 0 30px;

    .form-inside-input {
      margin-bottom: 30px;
    }
  }

  &.light-form {
    input,
    select,
    textarea {
      border: 1px solid #e8e8e8;
    }
  }
}

// End Contact Form
