@import "variables.scss";

* {
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

.container {
  max-width: 1170px;
  padding: 0;
}

.banner {
  position: relative;
  text-align: center;
  line-height: 1;
  padding: 0 20px;
  width: 100%;
  max-height: 990px;
  height: calc(100vh - 112px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  * {
    z-index: 2;
  }

  .large-text {
    @include customFont(
      $color: $whiteColor,
      $fontSize: 70px,
      $fontWeight: $regularWeight,
      $textTransform: uppercase
    );
    margin-bottom: 25px;
  }

  .small-text {
    @include customFont(
      $color: $whiteColor,
      $fontSize: 30px,
      $fontWeight: $lightWeight,
      $textTransform: capitalize
    );
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  @include respond-to(large-device) {
    .large-text {
      font-size: 50px;
    }

    .small-text {
      font-size: 26px;
    }
  }

  @include respond-to(medium-device) {
    line-height: 1.5;
    .large-text {
      font-size: 40px;
      margin-bottom: 20px;
    }

    .small-text {
      font-size: 22px;
    }
  }

  @include respond-to(small-device) {
    // line-height: 1.5;
    .large-text {
      font-size: 36px;
    }
    .small-text {
      font-size: 18px;
      line-height: 2;
    }
  }

  @include respond-to(phone-only) {
    .large-text {
      font-size: 30px;
    }
  }
}

.blog__content .banner {
  max-height: 500px;
}

.purchase-box {
  width: 100%;

  .container {
    @extend %flex-row-center-space-between;
    flex-wrap: wrap;
    min-height: 180px;
    padding: 0 20px;

    .text {
      @include customFont(
        $color: $whiteColor,
        $fontSize: 30px,
        $fontWeight: $lightWeight,
        $textTransform: capitalize
      );

      @include respond-to(small-device) {
        font-size: 24px;
      }

      @include respond-to(phone-only) {
        font-size: 20px;
      }
    }

    .btn-purchase {
      @include customBtn(270px, 55px, transparent, solid 1px $whiteColor, 5px);
      @include customFont($whiteColor, 14px, $boldWeight, uppercase);
    }

    @include respond-to(large-device) {
      flex-direction: column;
      justify-content: center;

      .text {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    @include respond-to(phone-only) {
      padding: 20px;
    }
  }
}

.scroll-up-container {
  position: fixed;
  right: -100px;
  bottom: 50px;
  transition: right 0.5s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 25px;
  padding: 10px;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  @include customTransition($duration: 0.3s);
  @extend %flex-row-center-center;

  @include respond-to(phone-only) {
    bottom: 20px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.scroll-up-transition {
  right: 30px;

  @include respond-to(phone-only) {
    right: 15px;
  }
}

.contact .section-slideshow {
  background: url("../assets/contact-bg.jpg") no-repeat center;
  background-size: cover;
}

.about-us .section-slideshow {
  background: url("../assets/about-us-bg.jpg") no-repeat center;
  background-size: cover;
}

.blog-page .section-slideshow {
  background: url("../assets/blog-page-bg.jpg") no-repeat center;
  background-size: cover;
}

@include respond-to(phone-only) {
  section .pricing-item .plan-title h4 {
    font-size: 26px;
  }

  section .box-section .title h4 {
    font-size: 32px;
  }
}
