$primaryColor: #4285f4;
$darkGrayColor: #333;
$mediumGrayColor: #666;
$lightGrayColor: #999;
$whiteColor: #fff;
$blackColor: #000;

$primaryBorderColor: #2c6cd6;
$secondaryBorderColor: #363b44;
$serviceBoxBorder: #f1f0f0;

$lightenOverlay: rgba(0, 0, 0, 0.2);

$lightWeight: 300;
$regularWeight: 400;
$semiBoldWeight: 600;
$boldWeight: 700;

$greenBoxBg: #82b440;
$analyzerBg: #1f252f;

$primaryBgColor: #fff;
$secondaryBgColor: #f6f7f8;
$homeServicesLeftBg: #1f252f;

$postBgColor: #4889f3;

// Responsive breakpoint
$break-phoneOnly: 575.98px; // Phone Only
$break-smallDevice: 767.98px; // Small devices (landscape phones, less than 768px)
$break-mediumDevice: 991.98px; // Medium devices (tablets, less than 992px)
$break-largeDevice: 1199.98px; // Large devices (desktops, less than 1200px)
$break-extraLargeDevice: 1699.98px; // Extra large devices (large desktop, less than 1700px)

// Display Flex
%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%flex-row-center-space-between {
  @extend %flex-row;
  align-items: center;
  justify-content: space-between;
}
%flex-col-center-space-between {
  @extend %flex-col;
  align-items: center;
  justify-content: space-between;
}

%flex-row-center-center {
  @extend %flex-row;
  align-items: center;
  justify-content: center;
}

%flex-col-center-center {
  @extend %flex-col;
  align-items: center;
  justify-content: center;
}

// Transition
@mixin customTransition(
  $property: all,
  $duration: 0.5s,
  $timingFunction: ease-in-out,
  $delay: 0s
) {
  transition: $property $duration $timingFunction $delay;
  -moz-transition: $property $duration $timingFunction $delay;
  -webkit-transition: $property $duration $timingFunction $delay;
  -o-transition: $property $duration $timingFunction $delay;
}

// Box Shadow
@mixin customBoxShadow(
  $horizontal: 0px,
  $vertical: 0px,
  $blurRadius: 0px,
  $spreadRadius: 0px,
  $shadowColor: rgba(0, 0, 0, 1)
) {
  box-shadow: $horizontal $vertical $blurRadius $spreadRadius $shadowColor;
  -webkit-box-shadow: $horizontal $vertical $blurRadius $spreadRadius
    $shadowColor;
  -moz-box-shadow: $horizontal $vertical $blurRadius $spreadRadius $shadowColor;
}

// Custom Font
@mixin customFont(
  $color,
  $fontSize: 14px,
  $fontWeight: 400,
  $textTransform: none
) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
  text-transform: $textTransform;
}

// Button
@mixin customBtn($width, $height, $bgColor, $border, $borderRadius: 0px) {
  width: $width;
  height: $height;
  background-color: $bgColor;
  border-radius: $borderRadius;
  border: $border;
}

// Overlay
@mixin customOverlay($bgColor) {
  content: "";
  background-color: $bgColor;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

// Mixin Responsive
@mixin respond-to($media) {
  @if $media == phone-only {
    @media only screen and (max-width: $break-phoneOnly) {
      @content;
    }
  } @else if $media == small-device {
    @media only screen and (max-width: $break-smallDevice) {
      @content;
    }
  } @else if $media == medium-device {
    @media only screen and (max-width: $break-mediumDevice) {
      @content;
    }
  } @else if $media == large-device {
    @media only screen and (max-width: $break-largeDevice) {
      @content;
    }
  } @else if $media == extra-large-device {
    @media only screen and (max-width: $break-extraLargeDevice) {
      @content;
    }
  }
}
